@model Cinema.Domain.Identity.CinemaApplicationUser
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<h1>Edit User</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="UserName" class="control-label"></label>
				<input asp-for="UserName" class="form-control" disabled />

			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" disabled />

			</div>
			<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" disabled />

			</div>
			<div class="form-group">
				<label asp-for="isAdmin" class="control-label"></label>
				<input asp-for="isAdmin" class="form-control btn-sm" />

			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
